doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TCSC - Triangle Computer Science Competition
    link(href='_/css/bootstrap.css', rel='stylesheet')
    link(href='_/css/compstyles.css', rel='stylesheet')
  body#dashboard(style='overflow:hidden;')
    header
        include '_/components/jade/comp-navbar.jade'
    content
        include '_/components/jade/aside-dashboardstats.jade'
        include '_/components/jade/article-questions.jade'
    footer
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='_/components/js/jquery.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='_/js/bootstrap.js')
    script(src='_/js/myscript.js')
