doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TCSC - Homepage
    style
      include _/css/bootstrap.css
      include _/css/indexstyles.css
  body#index.col-lg-12(style='text-align:center')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          header
            include _/components/jade/indexnavbar.jade
          content
            include _/components/jade/indexmain.jade
            h3
              a.alert(href='dashboard') Remove me later. Click here to go to the main competition site
          footer
            include _/components/jade/indexfooter.jade
        // cover container
      // site wrapper inner
    // site wrapper
    // jQuery (necessary for Bootstrap's JavaScript plugins)
  script
    include _/js/jquery.js
    // Include all compiled plugins (below), or include individual files as needed
    include _/js/bootstrap.js
    include _/js/myscript.js
