doctype html
script
  include _/js/jquery.js
  include _/js/bootstrap.js
  include _/js/myscript.js
  include _/components/js/jquery.toaster.js

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TCSC - Triangle Computer Science Competition
  body#dashboard(style='overflow:hidden;')
    header
        include _/components/jade/comp-navbar.jade
        style
          include _/css/bootstrap.css
          include _/css/compstyles.css
    content
        //include _/components/jade/article-questions.jade
        //include _/components/jade/article-questions-alternate.jade
        include _/components/jade/article-stats.jade
        include _/components/jade/notifications.html

    footer
    // jQuery (necessary for Bootstrap's JavaScript plugins)

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
script.
  var socket = io();

  socket.emit('stat_connect', function(b){
    console.log(b);
    for (i = 0; i < b.length; i++) { 

      $('tbody').append("<tr><td>" + b[i].points + "</td><td>" +
       b[i].name + "</td><td>" + b[i].name + "</td><td>" + b[i].name + "</td><td>" + b[i].name + "</td></tr>");
    }
  });