#dash_stat {
	padding-top:50px;
	display:inline-block;
	width:40%;
	background:#F2F2F2;
}

questions {
	padding-top:50px;
	display:inline-block;
	float:right;
	width:60%;
	border-left-style: solid;
	border-left-color:#000000;
	border-left-radius:10px;
}

#accordian{
	overflow: auto;
}
