#dash_stat {
	padding-top:50px;
	display:inline-block;
	width:40%;
	height:100%;
	background:#F2F2F2;
}

questions {
	padding-top:50px;
	display:inline-block;
	float:right;
	width:60%;
	border-left-style: solid;
	border-left-color:#000000;
	border-left-radius:10px;
}

#accordian{
	overflow: auto;
}

#panel-options {
	padding-left: 90px;
}

#panel_chat-title {
	display:inline-block;
}

#panel-options li {
	display: inline;
	list-style-type: none;
}

#messages {
	list-style: none;
}

#chat_input {
	float:right;
	padding-right:50px;
}

#upload_button {
	width: 10px;
	min-with:10px;
	min-height: 10px;
	float: left;
    height: 10px;
}



