#questions.container.col-lg-8.col-md-8.col-sm-8.col-xs-12(style='margin-top: 2em; float:right;')
      .page-header
        h3 Questions
      #accordion.panel-group(role='tablist', aria-multiselectable='true', style='overflow:auto;max-height:100vh')
        .panel.panel-default
          #headingOne.panel-heading(role='tab')
            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne', style='text-decoration: none;')
              h4.panel-title
                span.questionname Question
                |  &vert; 
                span.points Points
                |  &vert; 
                span.category Category
                // change with jQuery on close
                span(style='float: right;')
                  img.img-rounded(src='images/useridenticon.png', alt='id', width='20px', height='20px')
                  img.img-rounded(src='images/useridenticon2.png', alt='id', width='20px', height='20px')
                  img.img-rounded(src='images/useridenticon3.png', alt='id', width='20px', height='20px')
                  span.glyphicon.glyphicon-chevron-down(style='color: black;')
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
        // panel 1
        
script.
  