#questions.container.col-lg-8.col-md-8.col-sm-8.col-xs-12(style='margin-top: 2em; float:right;')
      .page-header
        h3 Questions
      #accordion.panel-group(role='tablist', aria-multiselectable='true', style='overflow:auto;max-height:100vh')
        .panel.panel-default
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              span(style='float: right;')
                img.img-rounded(src='views/images/useridenticon.png', alt='id', width='20px', height='20px')
                img.img-rounded(src='views/images/useridenticon2.png', alt='id', width='20px', height='20px')
                img.img-rounded(src='views/images/useridenticon3.png', alt='id', width='20px', height='20px')
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                  span.glyphicon.glyphicon-chevron-down(style='color: black;')
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
        // panel 1
        .panel.panel-default
          #headingTwo.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
        // panel 2
        .panel.panel-default
          #headingThree.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 3
        .panel.panel-default
          #headingFour.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 4
        .panel.panel-default
          #headingFive.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 5
        .panel.panel-default
          #headingSix.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 6
        .panel.panel-default
          #headingSeven.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 7
        .panel.panel-default
          #headingEight.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEight', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseEight.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 8
        .panel.panel-default
          #headingNine.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseNine', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseNine.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 9
        .panel.panel-default
          #headingTen.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTen', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseTen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 10
        .panel.panel-default
          #headingEleven.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEleven', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseEleven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 11
        .panel.panel-default
          #headingTwelve.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwelve', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseTwelve.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 12
        .panel.panel-default
          #headingThirteen.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThirteen', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseThirteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 13
        .panel.panel-default
          #headingFourteen.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFourteen', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseFourteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 14
        .panel.panel-default
          #headingFifteen.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFifteen', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseFifteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 15
        .panel.panel-default
          #headingSixteen.panel-heading(role='tab')
            h4.panel-title
              span.questionname Question
              |  &vert; 
              span.points Points
              |  &vert; 
              span.category Category
              // change with jQuery on close
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSixteen', aria-expanded='true', aria-controls='collapseOne')
                span.glyphicon.glyphicon-chevron-down(style='float: right;')
          #collapseSixteen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
        // panel 16
      // accordion