questions(class="panel panel-default")
	<div class="panel-heading">
	<h3 class="panel-title" id="panel_chat-title">Questions</h3>
	<ul id="panel-options">
	<li>Points</li>
	<li>Name</li>
	</ul>
	</div>
	<div class="panel-body">
	#accordion.panel-group(role='tablist', aria-multiselectable='true', style='overflow:auto;max-height:80vh;')
	</div>


script.
	socket = io();
	woah = ["One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Eleven", "Twelve", "Thirteen", 
	"Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen", "Twenty"];
	qTracker = [];
	num = 0;
	$(document).ready(function () {
		$('#accordion').on('click', 'button', function() {
			console.log("my dick is thiiiiiiiiiiiiiiiis long");
			quest_id = $(this).attr("id").slice(0,$(this).attr("id").indexOf('_'));
			if($('#q_' + quest_id ).val() != ""){
				console.log("ASDFASDFASDFASDFASDFASDFADFFASD cha cha cha chai");
				socket.emit('answer_question', $('#q_' + quest_id).val(), quest_id, false);
				return false;
			}
		});
	});

	socket.on('question_log:' + #{config.user.id}, function(que){
		if(qTracker.indexOf(que.id) != -1){
			console.log("notagainnnnnnn");
		}
		else{
		$('#accordion').append('<div id="'+ que.id + '" class="panel panel-default"><div id="heading' + woah[num]+ '" role="tab" class="panel-heading"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + woah[num]+ '" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;"><h4 class="panel-title" style="text-decoration: none;" ><span class="questionname">' + que.name + '</span> &vert; <span class="points">' + que.points+ '</span> &vert; <span class="category">' + que.category+ '</span><!-- change with jQuery on close--><span style="float: right;"><span style="color: black;" class="glyphicon glyphicon-chevron-down"></span></h4></a></div><div id="collapse' + woah[num]+ '" role="tabpanel" aria-labelledby="heading' + woah[num]+ '" class="panel-collapse collapse in"><div class="panel-body"><span class="description">' + que.description + '</span><form action><input id="q_' + que.id + '" type="text" autocomplete="off" name="userAnswer" value="userAnswer"></input><button id="' + que.id + '_button" type="button" autocomplete="off">Answer</button></form></div></div></div></div>');
		num ++;
		if(num === 1){
			active = woah[que.id];
		}
		qTracker.push(que.id);
		}

	});

	socket.on('question_stats:' + #{config.user.id}, function(q, a){
		console.log(q);
		console.log(a);
		console.log("aboveme");
		//$(q).append(a);
	});


