<head>
<style type="text/css"> body {background-color: rgba(209,207,207, 0.8);font: 87%/1.8em Century Gothic, sans-serif;}#chat {height: 100%;width: 90%;overflow: auto;}
</style>
<body>
<div style="margin-top: 10.4em;" class="container col-lg-4 col-md-4 col-sm-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" id="panel_chat-title"></h3>
</div>
<div class="panel-body">
<div id="chat"/>
<ul id="messages">
<form id="uploadForm" enctype="multipart/form-data" action="/dashUpload" method="post">
<input id="m"/>
<input id="userPhoto" type="file" name="userPhoto"/>
<input type="submit" value="submit" name="submit"/>
</form>
</ul>
<span id="status"></span>
</div>
</div>
</div>
</body>
</head>