html
  body
    .container.col-lg-4.col-md-4.col-sm-4(style='margin-top: 5em;')
      .panel.panel-default
        .panel-heading
          h3.panel-title
            | #{config.team.name}
            span(style='float:right;padding-right:0.5em;')
              img.img-rounded(src='images/useridenticon.png', width='20px', height='20px')
        .panel-body
          p(style='line-height:0.1em')
            | Points
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
          hr
          p(style='line-height:0.1em')
            | Questions Answered
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
          hr
          p(style='line-height:0.1em')
            | Other
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
      .panel.panel-default
        .panel-heading
          h3.panel-title  Team Name Chat 
        .panel-body
          p Messages should go here.
    // /.col-sm-4
