<div id="dash_stat" class="panel panel-default">
		<div class="dropzone-overlay">
			<div>"Drop to upload file FUCKING REMEMBER THIS SHIT, THIS IS THE SHIT (RIGHT HERE like IN hte overlay divv, that you can use as the little fill in thing like facebook. please dont forget becasue if you do like so much work will be lost2"</div>
		</div>
		<div class="panel-heading">
			<h3 class="panel-title" id="panel_chat-title">Team Chat</h3>
		</div>
		<div class="panel-body">
		<div id="chat"/>
		<ul id="messages">
		<form id="uploadForm" enctype="multipart/form-data" action="/dashUpload" method="post">
		<input id="m"/>
		<input type="submit" value="submit" name="submit"/>
		</form>

		</ul>
		<span id="status"></span>
		</div>
		</div>
</div>