.masthead.clearfix
      .inner(style='text-align: center')
        nav
          ul.nav.masthead-nav.navbar-left
            li#home.active
              a(href='index') Home
          ul.nav.masthead-nav
            li
              a(href='about') About
            li
              a(href='sponsors') Sponsors
            li
              a(href='faq') FAQ
        // navigation
      // inner
    // masthead float clearfix