.inner.cover
      img.cover-heading(src='images/tcsclogo.png')
      p.lead Triangle Computer Science Competition
      p.lead
        a.btn.btn-lg.btn-default(href='login.php') Log in
    // inner cover