join(class="panel panel-default")
  <div class="panel-heading">
  <h3 class="panel-title" id="panel_chat-title">Join Team</h3></div>
  form.form-signin.join(action="")
    label.sr-only(for='inputName') Team Name
    input#inputName.form-control(type='name', placeholder='Team Name', required='', autofocus='')
    
    label.sr-only(for='inputPassword') Password
    input#inputPassword.form-control(type='password', placeholder='Password', required='')
    button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Join
        
    // /container
script.
  //console.log(#{config._id})
  var socket = io();
  $(function(){
    $('button').click(function(){
    socket.emit('join_team', $('#inputName').val(), $('#inputPassword').val());
    return false;
    });
  });
  
  socket.on(#{config.user.id}, function(data){
    if(data==='success_join'){
      //console.log("we good");
      location.href = '/dashboard';
    }
  });