#questions.container(style='position: fixed; margin-top:0.5em')
      form.form-signin.join(action="")
        br
        br 
        br
        br
        label.sr-only(for='inputName') Team Name
        input#inputName.form-control(type='name', placeholder='Team Name', required='', autofocus='')
        
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Join
        br
        
    // /container
script.
  //console.log(#{config._id})
  var socket = io();
  $(function(){
    $('button').click(function(){
    socket.emit('join_team', $('#inputName').val(), $('#inputPassword').val());
    return false;
    });
  });
  
  socket.on(#{config.user.id}, function(data){
    if(data==='success_joing_team'){
      //console.log("we good");
      location.href = '/team'; //follow teams and invite people to team
     }
  });