#signup.container(style='position: fixed; margin-top:0.5em')
      form.form-signin.signup(action="")
        br
        br 
        br
        br
        label.sr-only(for='inputName') Question Name
        input#inputName.form-control(type='name', placeholder='Name', required='', autofocus='')
        label.sr-only(for='inputCategory') Category
        input#inputCategory.form-control(type='category', placeholder='Category', required='', autofocus='')

        label.sr-only(for='inputDescription') Description
        input#inputDescription.form-control(type='description', placeholder='Description', required='', autofocus='')
        
        label.sr-only(for='inputAnswer') Answer
        input#inputAnswer.form-control(type='answer', placeholder='Answer', required='')
        
        button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Register
        br
        
    // /container

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
script.
  var socket = io();
  $(function(){
    $('button').click(function(){
    //make sure to change this later (especially the 69 thing)
    socket.emit('register_question', $('#inputName').val(),  $('#inputCategory').val(), 
    $('#inputDescription').val(),$('#inputAnswer').val()); 
    return false;
    });
  });
  socket.on("woah", function(data){
    if(data ==='success'){
      console.log("we good");
      location.href = '/';
    }else{console.log("check_it_out");
      location.href = '/about';
    }
  });