#signup.container(style='position: fixed; margin-top:0.5em')
      form.form-signin.signup(action="")
        img(src='images/tcsclogo.png')
        label.sr-only(for='inputName') Team Name
        input#inputName.form-control(type='name', placeholder='Team Name', required='', autofocus='')
        label.sr-only(for='inputSchool') School (Optional)
        input#inputSchool.form-control(type='school', placeholder='School (Optional', required='', autofocus='')
        
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        .checkbox
          //
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
          // change this into team codes later on
          // when deployed on actual site, include reCAPTCHA
        button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Sign Up
        br
        p(style='text-align:center')
          | Know your account info? 
          a(href='login')
            b Log in here.
        // modify a modal for a forgotten password
      p  deleting this later
    // /container

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
script.
  //console.log(#{config._id})
  var socket = io();
  $(function(){
    $('button').click(function(){
    socket.emit('register_team', $('#inputName').val(),  $('#inputSchool').val(),$('#inputPassword').val());
    return false;
    });
  });
  
  socket.on(#{config.comp_id}, function(data){
    if(data==='success_register'){
      //console.log("we good");
      location.href = '/team'; //follow teams and invite people to team
     }
  });
      






