regis(class="panel panel-default")
  <div class="panel-heading">
  <h3 class="panel-title" id="panel_chat-title">Make New Team</h3></div>
  form.form-signin.signup(action="")
    label.sr-only(for='inputName') Team Name
    input#inputName.form-control(type='name', placeholder='Team Name', required='', autofocus='')
    label.sr-only(for='inputSchool') School (Optional)
    input#inputSchool.form-control(type='school', placeholder='School (Optional', required='', autofocus='')
    
    label.sr-only(for='inputPassword') Password
    input#inputPassword.form-control(type='password', placeholder='Password', required='')
    button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Register
        
    // /container

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
script.
  //console.log(#{config._id})
  var socket = io();
  $(function(){
    $('button').click(function(){
    socket.emit('register_team', $('#inputName').val(),  $('#inputSchool').val(),$('#inputPassword').val());
    return false;
    });
  });
  
  socket.on(#{config.user.id}, function(data){
    if(data[0]==='success_register'){
      //console.log("we good");
      location.href = '/team'; //follow teams and invite people to team
     }
  });
      






