#signup.container(style='position: fixed; margin-top:0.5em')
      form.form-signin.signup(action="")
        img(src='images/tcsclogo.png')
        label.sr-only(for='inputName') Name
        input#inputName.form-control(type='name', placeholder='Name', required='', autofocus='')
        label.sr-only(for='inputUsername') Username
        input#inputUsername.form-control(type='username', placeholder='Username', required='', autofocus='')
        label.sr-only(for='inputAge') Age
        input#inputAge.form-control(type='age', placeholder='Age', required='', autofocus='')
        
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
        
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        .checkbox
          //
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
          // change this into team codes later on
          // when deployed on actual site, include reCAPTCHA
        button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Sign Up
        br
        p(style='text-align:center')
          | Know your account info? 
          a(href='login.php')
            b Log in here.
        // modify a modal for a forgotten password
      p  deleting this later
    // /container

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
script.
  console.log(document.cookie);
  var socket = io();
  $('button').click(function(){
    console.log( $('#inputName').val());
    socket.emit('signup', $('#inputName').val(),  $('#inputUsername').val(), $('#inputAge').val(),
      $('#inputEmail').val(), $('#inputPassword').val());
    return false;
  });




