.masthead.clearfix
  .inner(style='text-align: center')
    nav
      ul.nav.masthead-nav.navbar-left
        li#home.active
          a(href='index.php') Home
      ul.nav.masthead-nav
        li
          a(href='about.jade') About
        li
          a(href='sponsors.jade') Sponsors
        li
          a(href='faq.jade') FAQ
    // navigation
  // inner
// masthead float clearfix
ul.nav

